html * {
    color: #EEEEEE;
    font-size: 14px;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding:0;
    text-decoration: none;
  }

header {
    position: relative;
    background-color: #151a22;
    display: flex;
    align-items: center;
    padding: 25px 20%;
    box-shadow: 0px -5px 20px 0px #000000;
    z-index: 2;
    }

header img { 
    width: 200px;
}

header .header-left {
    flex: 1;
}

header .header-right a {
    font-weight: 700;
    margin: 0 10px;
}

header a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.game-header {
    display: flex;
    justify-content: center; 
    background-color: #393E46;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
    z-index: 1;
}

.game-header p {
    font-size: 36px;
}

.game {
    position: relative;
    display: flex;
    justify-content: center; 
    background-color: #393E46;
    align-items: center;
    padding-bottom: 100px;
    z-index: 1;
}

.game .game-choice {
    margin-left: 100px;
}

.game-choice:hover .game-choice-color-image {
    opacity: 1;
}

.game-choice:hover .game-choice-bw-image {
    opacity: 1;
}

.game-choice-color-image {
    position: relative;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.game-choice-bw-image {
    position: absolute;
}

.game img {
    width: 200px;
}


